<h3>So what is the pig roast?</h3>
<p>The Foster Family Annual Pig Roast is celebration with food, family and lots of fun! For almost 35 years now, our family has been having this
  mass event. It all start with George Foster III and his brother JR Foster, wanting to carry on a similat event by their uncle. The pig roast
  has gone through many transformations. From Indiana to Montana to now Colorado. From massive bonfires to having no fire due to fire warnings. 
  From 10 acres of land to party on to a residential backyard. From a just family to over +125 friends, a our largest.
  BUT one thing stays the same. <strong>Family</strong></p>
<p>Come see for yourself! We would love to have you!</p>
